body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:940px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#header_container {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:940px;
  height:60px;
}
#logo_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:42px;
}
#logo {
  border-width:0px;
  position:absolute;
  left:10px;
  top:28px;
  width:190px;
  height:42px;
}
#header_text {
  border-width:0px;
  position:absolute;
  left:591px;
  top:28px;
  width:359px;
  height:42px;
}
#header_text_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:42px;
  font-family:'Cambria Bold', 'Cambria';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#003366;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#header_sep_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:943px;
  height:6px;
}
#header_sep {
  border-width:0px;
  position:absolute;
  left:10px;
  top:76px;
  width:940px;
  height:3px;
  color:#003366;
}
#trailer {
  border-width:0px;
  position:absolute;
  top:1100px;
  width:940px;
  height:28px;
}
#trailer_input {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:24px;
  background-color:#003366;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
}
#trailer_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#trailer_img_con {
  border-width:0px;
  position:absolute;
  left:22px;
  top:905px;
  width:13px;
  height:13px;
}
#myapp {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:940px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#logIn {
  border-width:0px;
  position:absolute;
  left:850px;
  top:10px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#wel_static_div {
  border-width:0px;
  position:absolute;
  left:404px;
  top:80px;
  width:546px;
  height:417px;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#wel_static {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#reg_div {
  border-width:0px;
  position:absolute;
  left:30px;
  top:80px;
  width:345px;
  height:438px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-width:1px;
  border-style: solid;
  border-color: rgba(121,121,121,1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#empreg_div {
  border-width:0px;
  position:absolute;
  left:250px;
  top:120px;
  width:345px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-width:1px;
  border-style: solid;
  border-color: rgba(121,121,121,1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#email {
  position:absolute;
  left:40px;
  top:80px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#password {
  position:absolute;
  left:40px;
  top:110px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#passwordconf {
  position:absolute;
  left:40px;
  top:140px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}

#name {
  position:absolute;
  left:40px;
  top:110px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#p{
  position:absolute;
  left:40px;
  top:140px;
  width:30px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;

}

#phone {
  position:absolute;
  left:70px;
  top:140px;
  width:235px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#exp {
  position:absolute;
  left:40px;
  top:170px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#hover-text{
position:absolute;
  left:50px;
  top:210px;
  width:205px;
  height:20px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:yellow;
  text-align:center;
}
#skill {
  position:absolute;
  left:40px;
  top:200px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#empskill {
  position:absolute;
  left:40px;
  top:140px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#role {
  position:absolute;
  left:40px;
  top:170px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#consultancy {
  position:absolute;
  left:40px;
  top:230px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#file {
  position:absolute;
  left:40px;
  top:260px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#filetxt {
  position:absolute;
  left:40px;
  top:290px;
  width:265px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#signup {
  border-width:0px;
  position:absolute;
  left:40px;
  top:320px;
  width:265px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#empsignup {
  border-width:0px;
  position:absolute;
  left:40px;
  top:230px;
  width:265px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#logout {
  border-width:0px;
  position:absolute;
  left:830px;
  top:50px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#int_login_div {
  border-width:0px;
  position:absolute;
  left:320px;
  top:80px;
  width:345px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-width:1px;
  border-style: solid;
  border-color: rgba(121,121,121,1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#int_login_button {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:265px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#test_login_div {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:345px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-width:1px;
  border-style: solid;
  border-color: rgba(121,121,121,1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#test_login_button {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:265px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#test_static_div {
  border-width:0px;
  position:absolute;
  left:404px;
  top:60px;
  width:546px;
  height:417px;
  font-family:'Calibri';
  font-style:normal;
  font-size:16px;
}
#test_static {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#test_header_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 51, 153, 0.247058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#test_header {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:25px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#test_header_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:auto;
  word-wrap:break-word;
}
#time_text {
  border-width:0px;
  position:absolute;
  left:750px;
  top:2px;
  width:auto;
  word-wrap:break-word;
}
#noBorder {border-collapse:collapse;}
#pure-control-group{
  font-family:'Calibri Bold', 'Calibri';
  color:black;
  left:2px;
  top:2px;
  width:840px;
  padding-left: 5px;
}
#question_div{
  left:10px;
  top:2px;
  width:940px;
}
#savemsg_div{
  position:absolute;
  left:10px;
  top:900px;
  width:940px;
  color:red;
}
#test_div {
  border-width:0px;
  position:absolute;
  overflow-y: hidden;
  left:0px;
  top:35px;
  width:940px;
  height:860px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
  text-align:left;
  overflow-y: scroll;
}
#test_save_button {
  border-width:0px;
  position:absolute;
  left:5px;
  top:930px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  font-size:13px;
  text-align:center;
}
#test_review_button {
  border-width:0px;
  position:absolute;
  left:125px;
  top:930px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  font-size:13px;
  text-align:center;
}
#test_submit_button {
  border-width:0px;
  position:absolute;
  left:245px;
  top:930px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  font-size:13px;
  text-align:center;
}


#table_header{
    width:142px;
    height:21px;
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 14px;
    background-color:#B0E0E6;
} 

table, th, tr {
     border: 1px solid black;
     
}


 table tr:nth-child(odd) th{
           background:#B0E0E6;;
}
table tr:nth-child(even) th{
            background:white;
}
        

#row-text
{
  font-family: 'Calibri';
font-weight: 400;
font-style: normal;
font-size: 14px;

}

#button{
    width: 90px;
    height: 23px;
    background-color: rgba(0, 51, 102, 1);
    border-radius: 10px;
    cursor: pointer;
    float:none;
    font-family:'Calibri Bold',  'Calibri';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: white; 
    float:center;
}