       <input id="logout" class="btn btn-primary btn-sm" style="top:25px" type="button" value="Log out" (click)="logout()" />
       <button id="Reset_filter" class="btn btn-primary btn-sm" type="reset" (click)="Skill.value='None';
                    Experiance.value='None';date1=null;Score.value='None';Consultancy.value='None';Name=null;
                    Status.value='None';Logiks.value='None'" >Reset Filter</button>
       <div style="clear: both"></div>
       <form>
       <div class="table-responsive">    
       <table class="table table-bordered table-striped" >
           <thead>
               <tr>
                   <th id="table_header" style="width:5%; height:70px">SNO.</th>
                   <th id="table_header" style="width:13%; height:70px">Registration Date
                    <my-date-picker [options]="myDatePickerOptions"
                (dateChanged)="onDateChanged($event)"></my-date-picker> 
                   <th id="table_header" style="width:14%;height:70px" >Name 
                    <input type="text" placeholder="Enter Name" style="width:95%" name="name" [(ngModel)]="Name" /></th>
                   <th id="table_header" style="width:13%;height:70px">Experiance <br>
                       <select style="width:80%" #Experiance >
                           <option>None</option>
                           <option>< 3 years</option>
                           <option >4-6 years</option>
                           <option>6-10 years</option>
                           <option>10-15 years</option>
                           <option>> 15 Years</option>
                        </select>
                            </th>
                   <th id="table_header" style="width:12%;height:70px">Skill<br>
                   <select #Skill >
                           <option> None</option>
                           <option *ngFor="let skill of skills">{{skill.SKILL}}</option>
                   </select></th>
                   <th id="table_header" style="width:12%;height:70px">Score<br>
                   <select #Score >
                           <option> None</option>
                           <option> Evaluate</option>
                           <option>< 20%</option>
                           <option>20%-50%</option>
                           <option>50%-80%</option>
                           <option>> 80%</option>
                   </select></th>
                   <th id="table_header" style="width:12%;height:70px">Consultancy <br>
                    <select style="width:85%" #Consultancy >
                           <option> None</option>
                           <option *ngFor="let cons of Consul">{{cons.Name}}</option>
                   </select></th>
                   <th id="table_header" style="width:10%;height:70px">Logiks Score<br>
                   <select #Logiks >
                            <option> None</option>
                            <option>< 50</option>
                            <option>50-70</option>
                            <option>> 70</option>
                    </select></th>
                   <th id="table_header" style="width:12%;height:70px">Status<br>
                   <select #Status >
                            <option> None</option>
                            <option>Profile Received</option>
                            <option>Test Started</option>
                            <option>Test Completed </option>
                            <option>Test Evaluated</option>
                            <option>Technical Completed</option>
                            <option>Vertical Completed</option>
                            <option>Seleted</option>
                            <option>Offered</option>
                            <option>Rejected</option>
                            <option>On hold</option>
                   </select></th>
              </tr> 
              </thead>     
              <tbody>
              <tr class="tr" *ngFor="let can of (candidates|resultFilter:[date1,Name,Experiance.value,Skill.value,Score.value,Consultancy.value,Logiks.value,Status.value])
               | paginate: {itemsPerPage: 10, currentPage:page, id: '1'};">
                
                   <td *ngIf="can.ID" id="row-text">{{can.ID}}</td>
                   <td *ngIf="can.ID"id="row-text">{{can.Registration_date | date: 'dd-MM-yyyy' }}</td>
                   <td *ngIf="can.ID"id="row-text"><p-lightbox type="content"><a class="group" href="javascript:void(0)">{{can.Name.replace('&nbsp;', ' ')}}</a>
                   
                   <div class="modal show" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document" style="width: 940px">
                            <div class="modal-content">
                            <div class="modal-header">
                                
                               <!-- <button type="button" class="close" data-dismiss="modal" (click)="hide($event)" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                <h1 class="modal-title"><b>{{can.Name}} - {{can.Skill}}</b></h1>
                            </div>
                            <div class="modal-body">
                                
                                <div id="candidate-info-tbl" class="table-responsive">
                                    <h4>Candidate Information: </h4>
                                    <table class="pop-up-table table table-condensed table-responsive table-user-information">
                                        <tbody>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-asterisk text-primary"></span> S No </strong></td>
                                                <td class="text-primary"> {{can.ID}}</td>
                                            </tr>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-user  text-primary"></span> Full Name </strong></td>
                                                <td class="text-primary"> {{can.Name.replace('&nbsp;', '')}}</td>
                                            </tr>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-envelope text-primary"></span> Email </strong></td>
                                                <td class="text-primary"> {{can.Email}}</td>
                                            </tr>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-lock text-primary"></span>Work Experience </strong></td>
                                                <td class="text-primary"> {{can.Experience}} Years</td>
                                            </tr>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-list-alt text-primary"></span> Test Score </strong></td>
                                                <td *ngIf="can.ID">{{can.Score}}
                                                    <span *ngIf="(can.Score && can.Skill == 'UI')" style="color:brown">/30</span>
                                                    <span *ngIf="(can.Score && can.Skill == '.Net')" style="color:brown">/20</span>
                                                    <span *ngIf="can.Skill == 'Mainframe'">N/A</span>
                                                    <button id="button" class="btn btn-info btn-xs btn-evaluate"  *ngIf="(!(can.Score || can.Score==0) && can.Status !='Profile Received')" 
                                                    type="save" [routerLink]="['/evaluation', can.Email]">Evaluate</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-calendar text-primary"></span> Registration Date </strong></td>
                                                <td class="text-primary"> {{can.Registration_date | date: 'dd-MM-yyyy' }}</td>
                                            </tr>
                                            <tr>
                                                <td> <strong> <span class="glyphicon glyphicon-stats text-primary"></span> Status </strong></td>
                                                <td class="text-primary"> {{can.Status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div id="candidate-remarks">
                                        <h4>Candidate Remarks: </h4>
                                        <table class="table table-bordered table-responsive">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Round</th>
                                                <th>Remarks</th>
                                                <th>Approver</th>                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Test</td>
                                                <td>Good in basics.Good in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL</td>
                                                <td>Ranjit</td>                                                
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Technical</td>
                                                <td>Good in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL. Good in OOPS concepts, SQLGood in OOPS concepts, SQLGood in OOPS concepts, SQL</td>
                                                <td>Ranjit</td> 
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Vertical</td>
                                                <td>Good</td>
                                                <td>Ranjit</td> 
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>HR</td>
                                                <td>Cleared</td>
                                                <td>Ranjit</td> 
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <h4 id="resume">Resume:</h4>
                                <!--<iframe src="https://view.officeapps.live.com/op/view.aspx?src=http%3A%2F%2Frecruitmentservices.azurewebsites.net%2FResume%2Frohith47%40test_com" style="width:100%; height:300px;" frameborder="0"></iframe>-->
                                <embed [src]="getResumeLink(can.Email)" style="width:100%; height:290px;" type='application/pdf'>
                            </div>
                            <div class="modal-footer">                                
                                <button type="button" class="btn btn-success">Approve Test</button>
                                <button type="button" class="btn btn-danger">Reject</button>
                                <a class="btn btn-primary" href="http://recruitmentservices.azurewebsites.net/Resume/{{can.Email.replace('.','_')}}.pdf" download>Download Resume</a>
                            </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                   
                   </p-lightbox></td>
                   <td *ngIf="can.ID" id="row-text">{{can.Experience}}</td>
                   <td *ngIf="can.ID" id="row-text">{{can.Skill}}</td>
                   <td *ngIf="can.ID" id="row-text" >{{can.Score}}
                       <span *ngIf="(can.Score && can.Skill == 'UI')" style="color:brown">/30</span>
                       <span *ngIf="(can.Score && can.Skill == '.Net')" style="color:brown">/20</span>
                       <span *ngIf="(can.Score && can.Skill == 'Mainframe')">/45</span>
                       <button id="button" class="btn btn-info btn-xs btn-evaluate"  *ngIf="(!(can.Score || can.Score==0) && can.Status !='Profile Received')" 
                       type="save" [routerLink]="['/evaluation', can.Email]">Evaluate</button>
                   </td>
                   <td *ngIf="can.ID" id="row-text" >{{can.Consultancy}}</td>
                   <td *ngIf="can.ID" id="row-text" >{{can.LogikScore}}</td>
                   <td  *ngIf="can.ID" id="row-text">{{can.Status}}</td>
                   <div *ngIf="!can.ID" style="position:absolute;width:100%;top:215px;left:575px;font-size:18px;font-weight: 700;">No rows to display</div>
              </tr>   
              </tbody>

       </table>
       
        <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="false">
        </pagination-controls>
        

       </div>
</form>
<div id="trailer" style="top:660px;">
  <label id="trailer_input">Danske IT Recruitment Team</label>
  </div>
<div id="trailer_img_con"  style="top:665px"><img id="trailer_img" src="images/u11.png"/></div>

