

       <br>
       <br>
       <br>
       <input id="logout" style="top:25px" type="button" value="Log out" (click)="logout()" />
       <table  style="width:100%;text-align:center;border-collapse: collapse;">
           <thead>
               <tr>
                   <th id="table_header" style="width:5%; height:70px">SNO.</th>
                   <th id="table_header" style="width:10%; height:70px">Date of Registration</th>
                   <th id="table_header" style="width:15%;height:70px">Name <br>
                    <input  placeholder="Name" type="text"style="width:95%" /></th>
                   <th id="table_header" style="widt:15%;height:70px">Experiance<br>
                       <select style="width:95%">
                           
                           <option> < 3 years </option>
                           <option>4-6 years</option>
                           <option>6-10 years</option>
                           <option>10-15 years</option>
                           <option>> 15 Years</option>
                        </select>
                            </th>
                   <th id="table_header" style="width:10%;height:70px">Skill<br>
                   <select>
                           
                           <option>.Net</option>
                           <option>UI</option>
                           <option>Java</option>
                           <option>PLI</option>
                           <option>COBOL</option>
                           <option>BigData</option>
                   </select></th>
                   <th id="table_header" style="width:15%;height:70px">Score<br>
                   <select >
                           
                           <option> < 20</option>
                           <option>20-50</option>
                           <option>50-80</option>
                           <option>> 80</option>
                   </select></th>
                   <th id="table_header" style="width:10%;height:70px">Consultancy <br>
                    <input  placeholder="Consultancy" type="text"style="width:95%" ></th>
                   <th id="table_header" style="width:10%;height:70px">Logiks Score<br>
                   <select>
                            
                            <option> < 50</option>
                            <option>50-70</option>
                            <option>> 70</option>
                    </select></th>
                   <th id="table_header" style="width:10%;height:70px">Status<br>
                   <select>
                            
                            <option>Test pending</option>
                            <option>Test completed </option>
                            <option>Test Evaluated</option>
                            <option>Tech completed</option>
                            <option>Vertical completed</option>
                            <option>Seleted</option>
                            <option>Offered</option>
                            <option>Rejected</option>
                            <option>On hold</option>
                   </select></th>
              </tr> 
              <tr class="tr" *ngFor="let can of candidates ">

                   <th id="row-text">{{can.ID}}</th>
                   <th id="row-text"></th>
                   <th id="row-text">{{can.Name}}</th>
                   <th id="row-text">{{can.Experience}}</th>
                   <th id="row-text">{{can.Skill}}</th>
                   <th id="row-text" >{{can.Score}}
                       <button id="button"  *ngIf="!can.Score" type="save" [routerLink]="['/evaluation', can.ID]">Evaluate</button>
                   </th>
                   <th id="row-text" >{{can.Consultancy}}</th>
                   <th id="row-text" >{{can.LogikScore}}</th>
                   <th id="row-text">{{can.Status}}</th>
              </tr>   
              </thead>     

       </table>
       
<div id="trailer" style="top:660px;">
  <input id="trailer_input" type="text" value="Danske IT Recruitment team - 2017"/>
  </div>
<div id="trailer_img_con"  style="top:665px"><img id="trailer_img" src="images/u11.png"/></div>

