

       <br>
       <br>
       <br>
       
       <input id="logout" style="top:25px" type="button" value="Log out" (click)="logout()" />
       <!--<br>-->
       <form>
       <table  style="width:100%;text-align:center;border-collapse: collapse;">
           <thead>
               <tr>
                   <th id="table_header" style="width:5%; height:70px">SNO.</th>
                   <th id="table_header" style="width:13%; height:70px">Registration Date
                    <my-date-picker [options]="myDatePickerOptions"
                (dateChanged)="onDateChanged($event)"></my-date-picker> 
                   <th id="table_header" style="width:14%;height:70px" >Name 
                    <input type="text" placeholder="Enter Name" style="width:95%" name="name" [(ngModel)]="Name" /></th>
                   <th id="table_header" style="width:13%;height:70px">Experiance <br>
                       <select style="width:80%" #Experiance >
                           <option>None</option>
                           <option>< 3 years</option>
                           <option >4-6 years</option>
                           <option>6-10 years</option>
                           <option>10-15 years</option>
                           <option>> 15 Years</option>
                        </select>
                            </th>
                   <th id="table_header" style="width:12%;height:70px">Skill<br>
                   <select #Skill >
                           <option> None</option>
                           <option *ngFor="let skill of skills">{{skill.SKILL}}</option>
                   </select></th>
                   <th id="table_header" style="width:12%;height:70px">Score<br>
                   <select #Score >
                           <option> None</option>
                           <option> Evaluate</option>
                           <option>< 20%</option>
                           <option>20%-50%</option>
                           <option>50%-80%</option>
                           <option>> 80%</option>
                   </select></th>
                   <th id="table_header" style="width:12%;height:70px">Consultancy <br>
                    <select style="width:85%" #Consultancy >
                           <option> None</option>
                           <option *ngFor="let cons of Consul">{{cons.Name}}</option>
                   </select></th>
                   <th id="table_header" style="width:10%;height:70px">Logiks Score<br>
                   <select #Logiks >
                            <option> None</option>
                            <option>< 50</option>
                            <option>50-70</option>
                            <option>> 70</option>
                    </select></th>
                   <th id="table_header" style="width:12%;height:70px">Status<br>
                   <select #Status >
                            <option> None</option>
                            <option>Profile Received</option>
                            <option>Test Started</option>
                            <option>Test Completed </option>
                            <option>Test Evaluated</option>
                            <option>Technical Completed</option>
                            <option>Vertical Completed</option>
                            <option>Seleted</option>
                            <option>Offered</option>
                            <option>Rejected</option>
                            <option>On hold</option>
                   </select></th>
              </tr> 
              <tr class="tr" *ngFor="let can of (candidates|resultFilter:[date1,Name,Experiance.value,Skill.value,Score.value,Consultancy.value,Logiks.value,Status.value])
               | paginate: {itemsPerPage: 15, currentPage:page, id: '1'};">
                
                   <th *ngIf="can.ID" id="row-text">{{can.ID}}</th>
                   <th *ngIf="can.ID"id="row-text">{{can.Registration_date | date: 'dd-MM-yyyy' }}</th>
                   <th *ngIf="can.ID"id="row-text">{{can.Name}}</th>
                   <th *ngIf="can.ID" id="row-text">{{can.Experience}}</th>
                   <th *ngIf="can.ID" id="row-text">{{can.Skill}}</th>
                   <th *ngIf="can.ID" id="row-text" >{{can.Score}}
                       <span *ngIf="(can.Score && can.Skill == 'UI')" style="color:brown">/30</span>
                       <span *ngIf="(can.Score && can.Skill == '.Net')" style="color:brown">/20</span>
                       <!--<span *ngIf="can.Skill == 'Mainframe'">N/A</span>-->
                       <button id="button"  *ngIf="(!(can.Score || can.Score==0) && can.Status !='Profile Received')" 
                       type="save" [routerLink]="['/evaluation', can.Email]">Evaluate</button>
                   </th>
                   <th *ngIf="can.ID" id="row-text" >{{can.Consultancy}}</th>
                   <th *ngIf="can.ID" id="row-text" >{{can.LogikScore}}</th>
                   <th  *ngIf="can.ID" id="row-text">{{can.Status}}</th>
                   <div *ngIf="!can.ID" style="position:absolute;width:100%;top:130px;font-size:18px;font-family:'Calibri Bold',  'Calibri';
    font-weight: 700;">No rows to display</div>
              </tr>   
              </thead>     

       </table>
       
        <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="false">
        </pagination-controls>
        
<button id="Reset_filter"  type="reset" (click)="Skill.value='None';
                    Experiance.value='None';date1=null;Score.value='None';Consultancy.value='None';Name=null;
                    Status.value='None';Logiks.value='None'" >Reset Filter</button>
</form>
<div id="trailer" style="top:660px;">
  <label id="trailer_input">Danske IT Recruitment Team</label>
  </div>
<div id="trailer_img_con"  style="top:665px"><img id="trailer_img" src="images/u11.png"/></div>

