<div id="header_container"></div>
<div id="logo"><img id="logo_img" src="images/u4.jpg"/></div>
<div id="header_text"><input id="header_text_input" type="text" value="WELCOME TO DIT RECRUITMENT PORTAL"/></div>
<div id="header_sep"><img id="header_sep_img" src="images/u7.png"/></div>
<div id="myapp"><router-outlet></router-outlet></div>
<div id="trailer"><input id="trailer_input" type="text" value="Danske IT Recruitment team - contact us @ xyz@danskeit.co.in or +91-1234567890"/></div>
<div id="trailer_img_con"><img id="trailer_img" src="images/u11.png"/></div>
